body {
  /* font-family: "Playfair Display", serif; */

  text-rendering: optimizeLegibility; 
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #3b3d54; */
  background-repeat: no-repeat;
  background-size: auto;
  font-size: 14px;
  background-size: cover;
background-image: url("https://firebasestorage.googleapis.com/v0/b/e-mars-store.appspot.com/o/E-martPictures%2Fpair-shopping-cart-miniatures_23-2148081027.webp?alt=media&token=8bf47458-b559-40db-8f24-cbf3824ceb9c");
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/e-mars-store.appspot.com/o/E-martPictures%2Fpair-shopping-cart-miniatures_23-2148081027.webp?alt=media&token=8bf47458-b559-40db-8f24-cbf3824ceb9c");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    background-color:#60e0d9;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);

  }
}
.fa-github {
  

  color:whitesmoke;
  text-decoration: none;
  font-size: 30px;
  margin-left: 25px;
}
.fa-linkedin {
  

  color:whitesmoke;
  text-decoration: none;
  font-size: 30px;
  margin-left:25px;
}
.fa-instagram {
  
  color:whitesmoke;
  text-decoration: none;
  font-size: 30px;
  margin-left:25px;
}
.fa-facebook {
  

  color:whitesmoke;
  text-decoration: none;
  font-size: 30px;
  margin-left:10px;
}
.fa-google{
  color:whitesmoke;
  text-decoration: none;
  font-size: 30px;
  margin-left:25px;
}




/* @import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';



  
  .wrap {
    perspective-origin: 50% 50%;
   
  }
  
  .page {
 
    margin: 3%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 1.4vw;
  }
  .page h2 {
    font-weight: bold;
    font-size: 6.5vw;
    font-weight: 900;
    font-style: italic;
    color: #dad8ec;
  }
  
  .svg {
    stroke: #7ceaa4;
    position: absolute;
    bottom: -100vh;
    transform-style: preserve-3d;
  }
  
  .svg:nth-child(1) {
    left: 57%;
    -webkit-animation: raise1 8s linear infinite;
            animation: raise1 8s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(-0.3) rotate(28deg);
    z-index: -6;
    filter: blur(-5px);
  }
  @-webkit-keyframes raise1 {
    to {
      bottom: 100vh;
      transform: scale(-0.3) rotate(40deg);
    }
  }
  @keyframes raise1 {
    to {
      bottom: 100vh;
      transform: scale(-0.3) rotate(40deg);
    }
  }
  
  .svg:nth-child(2) {
    left: 16%;
    -webkit-animation: raise2 8s linear infinite;
            animation: raise2 8s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    transform: scale(0) rotate(164deg);
    z-index: -5;
    filter: blur(-4px);
  }
  @-webkit-keyframes raise2 {
    to {
      bottom: 100vh;
      transform: scale(0) rotate(182deg);
    }
  }
  @keyframes raise2 {
    to {
      bottom: 100vh;
      transform: scale(0) rotate(182deg);
    }
  }
  
  .svg:nth-child(3) {
    left: 73%;
    -webkit-animation: raise3 16s linear infinite;
            animation: raise3 16s linear infinite;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: scale(0.3) rotate(135deg);
    z-index: -4;
    filter: blur(-3px);
  }
  @-webkit-keyframes raise3 {
    to {
      bottom: 100vh;
      transform: scale(0.3) rotate(288deg);
    }
  }
  @keyframes raise3 {
    to {
      bottom: 100vh;
      transform: scale(0.3) rotate(288deg);
    }
  }
  
  .svg:nth-child(4) {
    left: 52%;
    -webkit-animation: raise4 19s linear infinite;
            animation: raise4 19s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(0.6) rotate(184deg);
    z-index: -3;
    filter: blur(-2px);
  }
  @-webkit-keyframes raise4 {
    to {
      bottom: 100vh;
      transform: scale(0.6) rotate(274deg);
    }
  }
  @keyframes raise4 {
    to {
      bottom: 100vh;
      transform: scale(0.6) rotate(274deg);
    }
  }
  
  .svg:nth-child(5) {
    left: 99%;
    -webkit-animation: raise5 14s linear infinite;
            animation: raise5 14s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(0.9) rotate(230deg);
    z-index: -2;
    filter: blur(-1px);
  }
  @-webkit-keyframes raise5 {
    to {
      bottom: 100vh;
      transform: scale(0.9) rotate(139deg);
    }
  }
  @keyframes raise5 {
    to {
      bottom: 100vh;
      transform: scale(0.9) rotate(139deg);
    }
  }
  
  .svg:nth-child(6) {
    left: 92%;
    -webkit-animation: raise6 8s linear infinite;
            animation: raise6 8s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    transform: scale(1.2) rotate(216deg);
    z-index: -1;
    filter: blur(0px);
  }
  @-webkit-keyframes raise6 {
    to {
      bottom: 100vh;
      transform: scale(1.2) rotate(199deg);
    }
  }
  @keyframes raise6 {
    to {
      bottom: 100vh;
      transform: scale(1.2) rotate(199deg);
    }
  }
  
  .svg:nth-child(7) {
    left: 22%;
    -webkit-animation: raise7 11s linear infinite;
            animation: raise7 11s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    transform: scale(1.5) rotate(311deg);
    z-index: 0;
    filter: blur(1px);
  }
  @-webkit-keyframes raise7 {
    to {
      bottom: 100vh;
      transform: scale(1.5) rotate(187deg);
    }
  }
  @keyframes raise7 {
    to {
      bottom: 100vh;
      transform: scale(1.5) rotate(187deg);
    }
  }
  
  .svg:nth-child(8) {
    left: 19%;
    -webkit-animation: raise8 7s linear infinite;
            animation: raise8 7s linear infinite;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: scale(1.8) rotate(101deg);
    z-index: 1;
    filter: blur(2px);
  }
  @-webkit-keyframes raise8 {
    to {
      bottom: 100vh;
      transform: scale(1.8) rotate(43deg);
    }
  }
  @keyframes raise8 {
    to {
      bottom: 100vh;
      transform: scale(1.8) rotate(43deg);
    }
  }
  
  .svg:nth-child(9) {
    left: 57%;
    -webkit-animation: raise9 11s linear infinite;
            animation: raise9 11s linear infinite;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: scale(2.1) rotate(92deg);
    z-index: 2;
    filter: blur(3px);
  }
  @-webkit-keyframes raise9 {
    to {
      bottom: 100vh;
      transform: scale(2.1) rotate(310deg);
    }
  }
  @keyframes raise9 {
    to {
      bottom: 100vh;
      transform: scale(2.1) rotate(310deg);
    }
  }
  
  .svg:nth-child(10) {
    left: -12%;
    -webkit-animation: raise10 19s linear infinite;
            animation: raise10 19s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: scale(2.4) rotate(277deg);
    z-index: 3;
    filter: blur(4px);
  }
  @-webkit-keyframes raise10 {
    to {
      bottom: 100vh;
      transform: scale(2.4) rotate(24deg);
    }
  }
  @keyframes raise10 {
    to {
      bottom: 100vh;
      transform: scale(2.4) rotate(24deg);
    }
  }
  
  
  
  
  




 */
